@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body,
.container {
  height: 100%;
}

.container {
  display: grid;
  grid-template-rows: 200px 1fr 50px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.play-area {
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: aqua;
}

.play-grids {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  background-color: orange;
}

.play-grids > button {
  all: unset;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150px;
}

.restart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
}

.restart > button {
  all: unset;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 8rem;
  border-radius: 4px;
  background-color: lightgreen;
  font-weight: bold;
}

.restart > button:hover {
  background-color: rgb(129, 209, 129);
}

.turn {
  font-size: 2rem;
}

.nameInput {
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
